
*.lib
*.pdb
*.exe
*.ilk
*.idb
*.tlog*.obj
*.db
*.cache
*.log
!*.user
HXEngine/.vs/HXEngine/v14/.suo
*.opendb
*.obj
*.tlog
!*gl*.lib
!vermilion*.lib
!freetyped.lib
!libpng16.lib
!zlib.lib
!!libfbxsdk-md.lib